.success-notification,
.error-notification {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: #c1c0c0;
}

.success-notification {
  color: green;
  border-color: green;
}
.error-notification {
  color: red;
  border-color: red;
}
